{{extend 'layout_administrador.html'}}

<center>
<h1> SECTOR DE ALTAS</h1>
<center> {{=IMG(_src=URL(c='static', f='images/HPC.jpg'), _alt='HPC.jpg')}}  </center> 
<font size=3 color=red><b> seleccione: </font><font size=2> articulos,transporte,chofer, clientes </b></font>
</cente>

<left>
<TABLE BORDER="0" >
<TR>
   <TD>
       <a href="{{=URL(request.application,'altas','articulos')}}"> {{=IMG(_src=URL(c='static', f='images/nav/a1.jpg'))}} </a>
   </TD>

   <TD>
         <li><a class="button" href="{{=URL(request.application,'altas','Altas_chofer')}}">CHOFER</a></li>
 
   </TD>
 <li><a class="button" href="{{=URL(request.application,'altas','altas_tranporte')}}">TRANSPORTES</a></li>
   <TD>
<a   href="{{=URL( request.application,'altas','alta_cliente')}}"> {{=IMG(_src=URL(c='static', f='images/nav/c1.jpg'))}} </a>
 
 
   </TD>
</TR>
</TABLE>
</left>
