{{extend 'layout.html'}}
<center><h1></h1></center>

<font color="#006600" size="2" face="Arial, Helvetica, sans-serif">Empresa dedicada a la producción de sofware, de aplicacion ,de gestio  </font></b></font><font face="Monotype Corsiva"><b> 
<body bgcolor="#Faeff2" text="#000000">
<div align="center"> 
  <p><font color="#006600" size="1"><b><font face="Times New Roman, Times, serif"><font size="4" face="Arial, Helvetica, sans-serif">Nuevo 
    acceso Autoapista Richeri y ruta 21 </font></font></b></font></p>
    </p><br>
  <p> <br> {{=IMG(_src=URL(c='static', f='images/MAPA.jpg'), _alt='MAPA.jpg')}}
 <br><br><p>
  <p><font face="Times New Roman, Times, serif"><br>
     <td><div width="540" height="11"> {{=IMG(_src=URL(c='static', f='images/bargren.gif'), _alt='bargren.gif')}}</font> </p>
  <table width="75%">
    <tr> 
      <td colspan="2" align="center" valign="middle" width="391" height="168" border="1"><br>
        <strong><font color="#336633" size="2" face="Arial, Helvetica, sans-serif">Edificio de oficinas</font></strong></td>       
    </tr>
    <tr> 
      <td><div align="center" width="300" height="187" border="1" > {{=IMG(_src=URL(c='static', f='images/INSTALACION.jpg'), _alt='INSTALACION.jpg')}}<br>
          <font face="Monotype Corsiva"><b><font size="2" color="#006600" face="Arial, Helvetica, sans-serif">Vista 
          de nuestras oficinas</font></b></font><br>
        </div></td>
      <td align="center" width="300" height="187" border="1" ><b> {{=IMG(_src=URL(c='static', f='images/EDIFICIO.jpg'), _alt='EDIFICIO.jpg')}} <br>
        </b></font><font face="Monotype Corsiva" size="3"><b><font color="#006600" size="2" face="Arial, Helvetica, sans-serif">Nuestros 
        edificios </font></b></font><font face="Monotype Corsiva"><b> 
        </b></font></td>
    </tr>
  </table>  
</div>
</body>
</html>
